body,
html,
.main {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: black;
}

/* SECTIONS */

section {
    min-height: 100%;
}

.section {
    padding: 25px;
}

hr {
    margin-top: 5px;
    margin-bottom: 20px;
}

#landingPage {
    background: url(../img/background.jpg) no-repeat;
    background-size: cover;
}

#education,
#achievements,
#involvements {
    background-color: #f7f9fb;
}

#projects,
#experience,
#contact {
    background-color: #f2f2f2;
}

/* HEADINGS */

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Roboto', sans-serif;
}

h1,
h2 {
    font-weight: 300;
}

h1 {
    letter-spacing: 3px;
    line-height: 200%;
    padding-left: 50px;
}

h2 {
    text-align: center;
    font-size: 200%;
}

h3 {
    font-weight: 400;
    font-size: 120%;
}

h4 {
    font-weight: 500;
    font-size: 95%;
}

/* LINKS */

a {
    color: #ffb347;
}

a:hover {
    color: grey;
    text-decoration: none;
}

/* ICONS */

i {
    padding-right: 5px;
}

.socialMediaIcon {
    font-size: 50px;
}

/* NAVIGATION BAR */

nav {
    font-size: 15px;
}

.nav-link p {
    color: grey;
}

.nav-link p:hover {
    color: #ffb347;
}

/* LANDING PAGE */

mark {
    background-color: transparent;
    color: #ffb347;
    font-weight: 400;
}

.vertical-center {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

/* DATE & LOCATION */

.dateLocation {
    color: grey;
    font-size: 75%;
}

.dateLocation p {
    margin-bottom: 5px;
}

/* DETAILS */

.details p, li {
    font-size: 85%;
}

.details ul {
    padding-left: 20px;
}

/* IMAGES */

.imageContainer {
    padding: 10px;
}